/*
 *  DEFAULT SCROLL BAR
 */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background: #599bfa;
    cursor: pointer;
}

/*
 *  DEFAULT PROGRESS BAR
 */
progress {
    border-radius: 5px;
    width: 100%;
    height: 15px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
::-webkit-progress-bar {
    background-color: #a7a7a70d;
    border-radius: 5px;
}
::-webkit-progress-value {
    background-color: #599bfa;
    border-radius: 5px;
}
